.app {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  button {
    margin: 5px;
  }

  
  .label-input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 40px;
  }


  input {
    font-family: 'Montserrat';
    height: 2.5em;
    width: 200px;
    font-size: 1em;
    padding: 5px;
  }

  label {
    color: gray;
    font-size: 0.8em;
    font-weight: 600;
    padding-bottom: 2px;
  }
}
